.highlight{
    background-color: aliceblue;
}

.navbar-style{
    background-color: indigo !important;
    /* !important overwrites bootstrap default styling   */
}

.green-highlight{
    color: green;
    font-size: 40px;
}
.red-highlight{
    color: red;
    font-size: 25px;
}

.hand-icon {
    cursor: pointer;
}